<!DOCTYPE html>
<html>
<head>
    <meta charset="">
    <title>Subir CV</title>
    <link rel="stylesheet" href="styles/aplicar.css">
</head>
<body>
    <nav class="zonaSuperior">
        <a id="izquierda" class="button" href="">Logo de la empresa</a>
        <a href="/" class="button" id="centro" href="">Inicio</a>
        <a href="/ofertas" class="button" id="centro" href="">Ofertas Laborales</a>
        <a href="/logout" id="derecha" class="button" href="">Log Out</a>
    </nav>

    <div class="zonaIzquierda">
        <div>
            <img src="media/UserPicture.png" height="80px" alt="" >
            <p>Usuario</p>
            <p>Ocupation: Developer</p>
        </div>
    </div>
    <br>
    <div class="zonaCentral">
        <div>
            <img src="media/empresas/BBVA.PNG" height="40px" alt="" >
            <h4>Web Developer Practitioner</h4>
            <p>BBVA</p>
            <a class="button1" href="">Enviar CV</a>
        </div>
        <div>
            <img src="media/empresas/IBK.png" height="40px" alt="" >
            <h4>Analista de Desarrollo de Aplicaciones</h4>
            <h5p>Interbank</h5>
            <a class="button1" href="">Enviar CV</a>
        </div>
        <div>
            <img src="media/empresas/SCOTIABANK.png" height="40px" alt="" >
            <h4>Practicante de Ciberseguridad</h4>
            <h5>Scotiabank</h5>
            <a class="button1" href="">Enviar CV</a>
        </div>
        <div>
            <img src="media/empresas/BCP.png" height="40px" alt="" >
            <h4>Desarrollador Junior YAPE</h4>
            <h5>BCP</h5>
            <a class="button1" href="">Enviar CV</a>
        </div>
    </div>
    <br>
    <div class="zonaDerecha">Zona derecha</div>
</body>
</html>