<!DOCTYPE html>
<html>
<head>
    <meta charset="">
    <title>Gestor de CVs</title>
    <link rel="stylesheet" href="styles/LogIn.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <form action="#" method="POST">
        <div id="login-box">
            <h1>Iniciar Sesión</h1>

            <div class="form">
                <div class="item">
                    <i class="fa fa-user" aria-hidden="false"></i>
                    <input type="text" placeholder="Usuario" name="username">
                </div>

                <div class="item">
                    <i class="fa fa-key" aria-hidden="false"></i>
                    <input type="password" placeholder="Contraseña" name="password">
                </div>
            </div>
            
            <button type="submit">Ingresar</button>
            <nav>
                <br>
                <a href="/">Página Principal</a>
                <a href="../register">Registrarse</a>
            </nav>
        </div>
    </form>  
</body>
</html>