<!DOCTYPE html>
<html>
<head>
    <meta charset="">
    <title>Registro</title>
    <link rel="stylesheet" href="styles/prospectos.css">
</head>
<body>
    <nav class="zonaSuperior">
        <a id="izquierda" class="button" href="">Gotitas de Lluvia</a>
        <a href="/"class="button" id="centro" href="">Inicio</a>
        <a class="button" id="centro" href="">Prospectos</a>
        <a class="button" id="centro" href="">Subir Oferta</a>
        <a href="/logout" id="derecha" class="button" href="">Log Out</a>
    </nav>

    <div class="zonaIzquierda">
        <div>
            <img src="media/UserPicture.png" height="80px" alt="" >
            <p>Ian Bustinza</p>
            <p>Ocupation: Cybersecurity</p>
        </div>
    </div>
    <br>
    <div class="zonaCentral">
        <div>
            <img src="media/UserPicture.png" height="40px" alt="" >
            <h5>Nombre y Apellidos</h5>
            <a class="button1" href="">Ver CV</a>
        </div>
        <div>
            <img src="media/UserPicture.png" height="40px" alt="" >
            <h5>Nombre y Apellidos</h5>
            <a class="button1" href="">Ver CV</a>
        </div>
        <div>
            <img src="media/UserPicture.png" height="40px" alt="" >
            <h5>Nombre y Apellidos</h5>
            <a class="button1" href="">Ver CV</a>
        </div>
        <div>
            <img src="media/UserPicture.png" height="40px" alt="" >
            <h5>Nombre y Apellidos</h5>
            <a class="button1" href="">Ver CV</a></div>
        <div>
            <img src="media/UserPicture.png" height="40px" alt="" >
            <h5>Nombre y Apellidos</h5>
            <a class="button1" href="">Ver CV</a>
        </div>
    </div>
    <br>
    <div class="zonaDerecha">Zona derecha</div>
</body>
</html>