<!DOCTYPE html>
<html>
<head>
    <meta charset="">
    <title>Registro</title>
    <link rel="stylesheet" href="styles/prospectos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav class="zonaSuperior">
        <a id="izquierda" class="button" href="">Gotitas de Lluvia</a>
        <a href="/"class="button" id="centro" href="">Inicio</a>
        <a class="button" id="centro" href="">Prospectos</a>
        <a class="button" id="centro" href="">Subir Oferta</a>
        <a href="/logout" id="derecha" class="button" href="">Log Out</a>
    </nav>
    </div>
    <br>
    <div class="zonaCentral">
        <div>
            <img src="media/UserPicture.png" height="60px" alt="" >
            <h5>Estu Diante</h5>
            <a class="btn btn-primary" href="/perfil/estu">Contactar Usuario</a>
        </div>
        <div>
            <img src="media/UserPicture.png" height="60px" alt="" >
            <h5>Estudiante Uno</h5>
            <a class="btn btn-primary" href="/perfil/estu1">Contactar Usuario</a>
        </div>
        <div>
            <img src="media/UserPicture.png" height="60px" alt="" >
            <h5>Estudiante Dos</h5>
            <a class="btn btn-primary" href="/perfil/estu2">Contactar Usuario</a>
        </div>
    </div>
    <br>
</body>
</html>