<!DOCTYPE html>
<html>
<head>
    <meta charset="">
    <title>Registro</title>
    <link rel="stylesheet" href="styles/Registro.css">
</head>
<body>
    <form action="/registro" method="POST">
        <div id="login-box">
            <h1>Registro</h1>

            <div class="form">
                <div class="item">
                    <p id="title">Ingrese su nombre de usuario:</p>
                    <input type="text" placeholder="Usuario" name="username">
                </div>

                <div class="item">
                    <p id="title">Ingrese sus nombres:</p>
                    <input type="text" placeholder="Nombres" name="name">
                </div>

                <div class="item">
                    <p id="title">Ingrese sus apellidos:</p>
                    <input type="text" placeholder="Apellidos" name="surname">
                </div>

                <div class="item">
                    <p id="title">Seleccione rol</p>
                    <label>
                        <input type="radio" name="rol" id="Estudiante" value="Estudiante" style="width: 50px">Estudiante
                    </label>
                    <label>
                        <input type="radio" name="rol" id="Empleador" value="Empleador" style="width: 50px">Empleador
                    </label>
                </div>

                <div class="item">
                    <p id="title">Ingrese su correo electrónico:</p>
                    <input type="text" placeholder="Correo electrónico" name="email">
                </div>

                <div class="item">
                    <p id="title">Cree una contraseña segura:</p>
                    <input type="password" placeholder="Contraseña" name="password">
                </div>

                <div class="item">
                    <p id="title">Vuelva a ingresar su contraseña:</p>
                    <input type="password" placeholder="Repita su contraseña" name="passwordrepeat">
                </div>
            </div>
            
            <button type="submit">Ingresar</button>
            <nav>
                <br>
                <a href="/">Página Principal</a>
                <a href="../LogIn">Iniciar Sesión</a>
            </nav>
        </div>
    </form>  
</body>
</html>