#login-box {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1%;
    background: #00000080;
    padding: 20px 50px 50px;
}

#login-box h1 {
    color: white;
}

#login-box .form .item input {
    width: 200px;
    border: 0;
    border-bottom: 5px solid white; 
    font-size: 18px;
    background: #ffffff00;
    color: white;
    padding: 5px 10px;
}

#login-box .form .item i {
    color: white;
    font-size: 18px;
}

#login-box button {
    border: 0;
    width: 150px;
    height: 30px;
    margin-top: 18px;
    font-size: 18px;
    color: black;
    font-weight: 550;
    border-radius: 25px;
}

body {
    background: url("../LogIn/LogIn.jpg") center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

::placeholder {
    color: white;
}

#login-box nav a{
    text-decoration: none;
    color: white;
    margin-top: 30px;
    padding: 30px;
}


#title {
    color: white;
    font-size: 18px;
}